* {
    margin: 0;
}

li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#header-nav ul {
    display: flex;
    justify-content: space-around;
}